.care-container {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.care-cards-container {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
}
.care-cards {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
#cards-two {
  width: 930px;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
}
.care-card {
  width: 415px;
  height: 290px;
  border-radius: 20px;
  padding: 40px;
  border-radius: 10px;
  transition: all 0.5s;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.care-category-add {
  width: 415px;
  height: 290px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%2300C7F0FF' stroke-width='2' stroke-dasharray=' 9' stroke-dashoffset='9' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 10px;
  object-fit: cover;
}
.care-category-add:hover {
  background-color: #f5f5f5;
  transform: scale(1.02);
}
#care-card-two h3 {
  width: 300px;
}
#care-card-two-flex {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.care-card:hover {
  transform: scale(1.05);
}
.care-card img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  object-fit: contain;
}
.care-card-description {
  color: gray;
  margin-top: 40px;
  font-size: 18px;
}
.care-card-Боломжтой {
  border-radius: 20px;
  background: radial-gradient(
        circle at 100% 100%,
        #ffffff 0,
        #ffffff 18px,
        transparent 18px
      )
      0% 0%/20px 20px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 18px, transparent 18px)
      100% 0%/20px 20px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 18px, transparent 18px)
      0% 100%/20px 20px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 18px, transparent 18px)
      100% 100%/20px 20px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 4px)
      calc(100% - 40px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 40px)
      calc(100% - 4px) no-repeat,
    linear-gradient(90deg, rgba(72, 171, 224, 0.935) 0%, #ff0000 100%);
}
.care-card-Ашигласан {
  border: 2px solid #019444;
}
.care-card-Боломжгүй {
  border: 2px solid gray;
}
.care-card-arrow {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.care-card-button {
  color: white;
  width: 160px;
  font-weight: 700;
  border-radius: 20px;
  position: absolute;
  top: -15px;
  right: 20px;
}
.care-card-button-Боломжтой {
  background: rgb(226, 102, 255);
  background: linear-gradient(
    43deg,
    rgba(226, 102, 255, 1) 0%,
    rgba(220, 0, 137, 1) 50%,
    rgba(252, 70, 107, 1) 100%
  );
}
.care-card-button-Ашигласан {
  background-color: #019444;
}
.care-card-button-Боломжгүй {
  background-color: gray;
}
.care-card-footer {
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.care-card-footer-btn {
  height: 40px;
  border-radius: 20px;
  width: 100%;
}
.btn-primary {
  background-color: #00c7f0;
  color: white;
  font-weight: 700;
}
.detail-container {
  padding: 20px;
  position: relative;
  width: 100%;
}
.detail-close-button {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 4px;
  color: white;
  background-color: red;
  border-radius: 50%;
  right: -10px;
  top: -10px;
  cursor: pointer;
}
.detail-one {
  width: 412px;
}
.detail-title {
  font-size: 24px;
}
.detail-section-container {
  max-width: 1000px;
  overflow: scroll;
}
.detail-section {
  display: flex;
  gap: 50px;
  width: fit-content;
  height: fit-content;
}
.detail-name {
  margin-top: 20px;
  padding: 8px 60px;
  width: fit-content;
  border-radius: 8px;
  color: white;
  background-color: #00c3ee;
  font-size: 13px;
}
.detail-html {
  margin-top: 20px;
}
.detail-html h1 {
  margin: 30px 0px 5px 0;
  font-size: 16px;
  text-transform: uppercase;
}
.detail-html p {
  font-weight: 300;
}
.detail-html p:nth-child(even) {
  background-color: #f0f0f0;
}
@media only screen and (max-width: 1525px) {
  .cards-last {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (max-width: 480px) {
  .care-card {
    width: 100%;
  }
  .care-card-description {
    width: 100%;
  }
  .care-card-footer {
    flex-direction: column;
    gap: 10px;
  }
}
