.care-container {
  width: calc(100vw - 25px);
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cards-container {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
#cards-two {
  width: 930px;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
}
.care-card {
  width: 415px;
  height: 290px;
  border-radius: 20px;
  padding: 40px;
  border-radius: 10px;
  transition: all 0.5s;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
#care-card-two h3 {
  width: 300px;
}
#care-card-two-flex {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.care-card:hover {
  transform: scale(1.05);
}
.care-card img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
.care-card-description {
  color: gray;
  margin-top: 40px;
  font-size: 18px;
}
.care-card-Боломжтой {
  border-radius: 20px;
  background: radial-gradient(
        circle at 100% 100%,
        #ffffff 0,
        #ffffff 18px,
        transparent 18px
      )
      0% 0%/20px 20px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 18px, transparent 18px)
      100% 0%/20px 20px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 18px, transparent 18px)
      0% 100%/20px 20px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 18px, transparent 18px)
      100% 100%/20px 20px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 4px)
      calc(100% - 40px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 40px)
      calc(100% - 4px) no-repeat,
    linear-gradient(90deg, rgba(72, 171, 224, 0.935) 0%, #ff0000 100%);
}
.care-card-Ашигласан {
  border: 2px solid #019444;
}
.care-card-Боломжгүй {
  border: 2px solid gray;
}
.care-card-arrow {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.care-card-button {
  color: white;
  width: 160px;
  font-weight: 700;
  border-radius: 20px;
  position: absolute;
  top: -15px;
  right: 20px;
}
.care-card-button-Боломжтой {
  background: rgb(226, 102, 255);
  background: linear-gradient(
    43deg,
    rgba(226, 102, 255, 1) 0%,
    rgba(220, 0, 137, 1) 50%,
    rgba(252, 70, 107, 1) 100%
  );
}
.care-card-button-Ашигласан {
  background-color: #019444;
}
.care-card-button-Боломжгүй {
  background-color: gray;
}
.care-card-footer {
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.care-card-footer-btn {
  height: 40px;
  border-radius: 20px;
  width: 100%;
}
.btn-primary {
  background-color: #00c7f0;
  color: white;
  font-weight: 700;
}

@media only screen and (max-width: 1525px) {
  .cards-last {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (max-width: 480px) {
  .care-card {
    width: 100%;
  }
  .care-card-description {
    width: 100%;
  }
  .care-card-footer {
    flex-direction: column;
    gap: 10px;
  }
}
