.club-container {
  padding: 20px;
}

.cards-container {
  display: flex;
  
  /* max-width: 1200px; */
  /* margin: 0 auto; */
}

.image-container-1st {
  /* flex: 0 0 30%; */
}

.image-container-2nd{
  display: flex;
  gap: 25px;
}
.image-container-3rd {
  /* flex: 0 0 35%; */
  display: flex;
  gap: 25px;
}
.Clubs{
  margin: 10px;
  padding: auto;
}

.image-container {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.image-container:hover {
  transform: scale(1.05);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.club-card {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.image-container.movie {
  height: 500px;
}

.image-container.english,
.image-container.adventure,
.image-container.sports,
.image-container.dota {
  height: 200px;
}

@media (max-width: 1024px) {
  .cards-container {
      flex-direction: column;
  }

  .image-container-1st,
  .image-container-2nd,
  .image-container-3rd {
      flex: 0 0 auto;
  }

  .image-container.movie,
  .image-container.english,
  .image-container.adventure,
  .image-container.sports,
  .image-container.dota {
      height: 300px;
  }
}

@media (max-width: 768px) {
  .image-container-2nd,
  .image-container-3rd {
      flex-direction: column;
  }
}