.discounts-card {
  width: 300px;
  height: 560px;
  border-radius: 20px;
  padding: 40px;
  border-radius: 10px;
  transition: all 0.5s;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.discounts-card1 {
  width: 300px;
  height: 250px;
  border-radius: 20px;
  padding: 40px;
  border-radius: 10px;
  transition: all 0.5s;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.discounts-card2 {
  width: 450px;
  height: 250px;
  border-radius: 20px;
  padding: 40px;
  border-radius: 10px;
  transition: all 0.5s;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.discounts-card-footer-btn {
  height: 30px;
  border-radius: 15px;
  width: 60%;
  margin: 0 auto;
}
.discounts-container {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#discounts-card-two h3 {
  width: 150px;
}
#discounts-card-two-flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.discounts-card {
  width: 300px;
  height: 700px;
  border-radius: 20px;
  border-radius: 10px;
  transition: all 0.5s;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.discounts-photo {
  width: 10%;
  height: 20%;
  object-fit: cover;
}
.image-container {
  position: relative;
  display: inline-block;
}
.bonus1-image {
  display: block;
  height: 700px;
  width: 300px;
}
.bonus2-image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 700px;
  width: 300px;
}
.lunch1-image {
  display: block;
  width: 450px;
  height: 250px;
}
.lunch2-image {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 280px;
  height: 250px;
}
.gym1-image {
  display: block;
  height: 300px;
  width: 250px;
}
.gym2-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 60px;
}
.phone-image {
  display: block;
  right: 0;
  height: 300px;
  width: 250px;
}
.bday-image {
  display: block;
  height: 250px;
  width: 400px;
}
