.drawer-handle {
  width: 25px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  border-radius: 30px 0 0 30px;
  z-index: 100;
  cursor: pointer;
  -webkit-box-shadow: -11px 2px 18px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -11px 2px 18px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -11px 2px 18px -10px rgba(0, 0, 0, 0.75);
}
.drawer-arrow {
  position: absolute;
  top: 47%;
  right: -10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  box-shadow: -11px 2px 18px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -11px 2px 18px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -11px 2px 18px -10px rgba(0, 0, 0, 0.75);
  align-items: center;
  background-color: white;
}
.drawer-container {
  border-radius: 30px 0 0 30px;
}
.drawer-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.top-border {
  margin-top: 10px;
  width: 100%;
  height: 3px;
  border-radius: 100px;
  background: rgb(102, 128, 255);
  background: linear-gradient(
    90deg,
    rgba(102, 128, 255, 1) 0%,
    rgba(35, 0, 69, 1) 48%,
    rgba(252, 70, 107, 1) 100%
  );
}
.user-information {
  width: 100%;
  padding: 20px 0 0 0;
  text-align: center;
}
.user-information p {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  color: black;
}
.logout {
  width: 100%;
  background-color: #00c7f0;
  color: white;
  padding: 20px;
  border-radius: 15px;
  font-weight: 600;
}
.drawer-arrow-in {
  cursor: pointer;
  position: absolute;
  z-index: -1;
  top: 47%;
  left: -25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: white;
}
.calendar-section {
  position: relative;
}

.add-calendar-btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00c7f0;
  border: 0;
  font-size: 25px;
}
.add-calendar-btn-absolute {
  position: absolute;
  left: 0;
  top: 10px;
}
.calendar-section-container {
  width: 300px;
  height: 300px;
  background-color: white;
  padding: 20px 30px;
  border-radius: 0px 30px 30px 30px;
  -webkit-box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.44);
}
.calendar-section-container h1 {
  font-weight: 500;
}
.calendar-adding-container {
  margin-top: 20px;
}
.calendar-adding {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gainsboro;
}
.calendar-input {
  width: 50%;
}
.calendar-input input {
  border: 0;
  outline: none;
}
.calendar-dots {
  display: flex;
  gap: 10px;
}
.calendar-dots div {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
.calendar-small-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.red {
  background-color: #ec1b25;
}
.green {
  background-color: #019444;
}
.blue {
  background-color: #00adee;
}
.calendar-items-container {
  display: flex;
  gap: 20px;
  width: 100%;
}
.calendar-item-cards-container {
  width: 50%;
}
.calendar-item-card {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.calendar-item-card div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.calendar-item-card p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 13px;
  color: black;
  font-weight: 500;
  width: 100px;
}

@media only screen and (max-width: 470px) {
  .calendar-wrapper {
    padding-top: 40px;
  }
}
