.rules-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-cover {
  box-shadow: -10px 6px 22px 6px rgba(0, 0, 0, 0.75);
  padding-top: 300px;
  color: white;
  padding-left: 45px;
  background: rgb(34, 119, 163);
  background: linear-gradient(
    90deg,
    rgba(34, 119, 163, 1) 0%,
    rgba(30, 68, 105, 0.9542410714285714) 50%,
    rgba(34, 119, 163, 1) 100%
  );
}
.page-cover h2 {
  font-size: 30px;
  padding: 20px;
}
.page-style-dot {
  position: absolute;
  top: -10px;
  left: -20px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  content: "";
}
.page-cover ul {
  padding: 20px;
  position: relative;
  border-top: 2px solid white;
}

.page-content {
  padding: 30px;
  box-shadow: 10px 6px 22px 5px rgba(0, 0, 0, 0.75);
  background: rgb(193, 193, 193);
  background: linear-gradient(
    90deg,
    rgba(193, 193, 193, 1) 0%,
    rgba(230, 230, 230, 1) 100%
  );
}
